<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="login-section">



  <header id="header">
    <div id="containerRef" class="vsLogo">
      <div class="vsecom_logoDiv">
        <a id="img_align" href="https://www.vsecommerce.com/" target="_blank">
            <img src="assets/img/Vsecomlogo.png" alt="VSOnlineServices logo" />
        </a>
      </div>
    </div>
  </header>
  <section id="home" class="main style1 dark pagenotscreen">
    <div class="homeBannerHeading">
      <h1 class="fontFMonst">vsEcommerce</h1>
    </div>
    <div class="vsecommercehomebanner">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Reset your password</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <div>
                  <h5 class="registeredAddress">Check your email for the password reset code. Then click the link or
                    enter
                    the reset code below to reset your password</h5>
                </div>
                <div class="input-group input-active">
                  <span class="input-group-addon">
                    <mat-icon class="material-icons-outlined">vpn_key</mat-icon>
                  </span>
                  <mat-form-field class="matForm" >
                    <mat-label>Reset Code</mat-label>
                    <input matInput (focus)="focusIn($event)" (focusout)="focusOut()" formControlName="ResetCode"
                      autocomplete="off">
                  </mat-form-field>
                </div>

                <div *ngIf="submitted && resetPasswordForm.controls['ResetCode'].errors" class="invalid-message">
                  <div class="error" *ngIf="resetPasswordForm.controls['ResetCode'].errors['required']">Reset Code is required
                  </div>
                </div>

                <div class="input-group input-active">
                  <span class="input-group-addon">
                    <mat-icon class="material-icons-outlined">
                      lock</mat-icon>
                  </span>

                  <mat-form-field class="matForm" >
                    <mat-label>New Password</mat-label>
                    <input type="password" id="newPassword" matInput (focus)="focusIn($event)" (focusout)="focusOut()"
                      formControlName="NewPassword" autocomplete="new-password">
                  </mat-form-field>
                  <span class="input-group-addon cursor_p" (click)="visible()">
                    <img *ngIf="showVisibleIcon" src="assets/images/icons8-eye-24.png">
                    <img *ngIf="!showVisibleIcon" src="assets/images/icons8-invisible-24.png">
                  </span>
                </div>

                <div *ngIf="submitted && resetPasswordForm.controls['NewPassword'].errors" class="invalid-message">
                  <div class="error" *ngIf="resetPasswordForm.controls['NewPassword'].errors['required']">New Password is
                    required</div>
                  <div class="error" *ngIf="resetPasswordForm.controls['NewPassword'].errors['minlength']">New Password must
                    be
                    at least 6
                    characters</div>
                </div>

                <div class="input-group input-active">
                  <span class="input-group-addon">
                    <mat-icon class="material-icons-outlined">
                      lock</mat-icon>
                  </span>

                  <mat-form-field class="matForm" >
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput id="confirmPassword" (focus)="focusIn($event)" (focusout)="focusOut()"
                      formControlName="ConfirmPassword" autocomplete="new-password">
                  </mat-form-field>
                  <span class="input-group-addon cursor_p" (click)="visible2()">
                    <img *ngIf="showVisibleIcon2" src="assets/images/icons8-eye-24.png">
                    <img *ngIf="!showVisibleIcon2" src="assets/images/icons8-invisible-24.png">
                  </span>
                </div>

                <div *ngIf="submitted && resetPasswordForm.controls['ConfirmPassword'].errors" class="invalid-message">
                  <div class="error" *ngIf="resetPasswordForm.controls['ConfirmPassword'].errors['required']">Confirm Password
                    is required</div>
                  <div class="error" *ngIf="resetPasswordForm.controls['ConfirmPassword'].errors['minlength']">Confirm
                    Password
                    must be at least 6
                    characters</div>
                </div>

                <div class="linkButtonAlign">
                  <div class="col-sm-6 col-xs-5 loginText">
                    <span class="agreeText">Remember password? <a class="logIntxt" [routerLink]="['/login']"
                        href="#">Login</a></span>
                  </div>
                  <div class="col-sm-6 col-xs-7 login">
                    <button type="submit" class="btn reset-btn-primary">RESET PASSWORD</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="appstoreIconsdivMobile">
        <h5 class="downloadText">Download vsEcom Mobile App!</h5>
        <a href="https://play.google.com/store/apps/details?id=com.vsonlineservices.vsecommerce" target="_blank">
          <img class="storeIcons"
            src="https://static.wixstatic.com/media/56b215_e2d14d0e68a8412ba41ba71812d3b109~mv2.png/v1/crop/x_53,y_14,w_652,h_269/fill/w_153,h_50,al_c,q_85,usm_0.66_1.00_0.01/Android_BUTTON.webp"></a>
        <a href="https://apps.apple.com/app/id1608689547" target="_blank">
          <img class="storeIcons"
            src="https://static.wixstatic.com/media/56b215_163583472ce5439aa32919ca9df3e21e~mv2.png/v1/crop/x_53,y_14,w_666,h_269/fill/w_160,h_50,al_c,q_85,usm_0.66_1.00_0.01/Apple_BUTTON.webp"></a>
      </div>
    </div>
  </section>
  <footer id="footerResetPassword">
    <div class="vsFooterTextColor">
      <a href="mailto:support@vsonlineservices.com" class="vsFooterTextColor">
        support@vsonlineservices.com
      </a>
      <div class="footerRight">
        <span><a class="vsFooterTextColor" href="https://www.vsecommerce.com/about.html" target="_blank">
            About Us</a>&nbsp;&nbsp;
          <a class="vsFooterTextColor" href="https://www.vsecommerce.com/terms.html" target="_blank">Terms of
            Service</a>&nbsp;&nbsp;
          <a class="vsFooterTextColor" href="https://www.vsecommerce.com/privacypolicy.html" target="_blank"> Privacy
            Policy </a></span>
      </div>
    </div>
    <div class="vsFooterTextColor">
      <a href="tel:+917305991401" class="vsFooterTextColor">
        +917305991401
      </a>
      <div class="footerRight">
        Copyrights &copy; All Rights Reserved - VS Online Services Private Limited
      </div>
    </div>
  </footer>
</div>