.greenText {
    color: #1b2839;
}

.padding-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.minorinfofont {
    font-size: 12px;
    line-height: 12px;
    color: grey;
}

.comparedropdowntext {
    font-size: 10px;
}

.alignCenter {
    align-self: center;
}

.font20 {
    font-size: 20px !important;
}

h4 {
    margin: 0 !important
}

.p15 {
    padding: 15px;
}

.pb15 {
    padding-bottom: 15px
}

.m15 {
    margin: 15px 0 15px 0;
}

.order_status {
    margin: 20px 0 20px 0;
    padding: 0;
    text-align: end;
    border-bottom: 1px solid;
    padding-bottom: 15px;
}

.p0 {
    padding: 0;
}

.print_Page {
    border: 1px solid var(--vs-color-primary);
    padding: 10px;
}