.matForm {
    display: block;
    margin: auto;
    width: 60%;
}

.productNameHeading {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.inputRow{
    width: 100%;
}

.rowItem {
    width: 50%;
}

.leftinput {
    padding-right: 10px;
}

.rightinput {
    padding-left: 10px;
}

@media only screen and (max-width: 700px) {

    .rowItem {
        width: 100%;
    }

    .leftinput {
        padding-right: 0px;
    }

    .rightinput {
        padding-left: 0px;
    }
}

.checkboxLable {
    margin: 15px 0px;
}

.subHeading {
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0px;
    color: var(--vs-color-primary);
}

.saveBtn {
    margin: 3px !important;
    background: var(--vs-color-primary);
    color: white;
    padding: 1px 15px;
    border: none;
    font-size: 15px;
    cursor: pointer !important;
    border-radius: 5px;
    font-weight: bold;
}

.saveBtn:focus {
    box-shadow: 0 0 6px var(--vs-color-primary);
    outline: none !important;
}

.saveBtn:hover {
    background: white;
    color: var(--vs-color-primary);
}

.btncls {
    text-align: right;
}

.borderQuantity {
    border: 1px solid var(--vs-color-grey-text);
    margin: 15px 0px;
}

.mat-dialog-contentVsecom {
    margin: 0px !important;
    padding: 0px 15px !important;
    max-height: 70vh;
    overflow: auto;
    // max-height: 100% !important;
  }

// .vsecom_customScroll::-webkit-scrollbar {
//     width: 5px;
//     height: 5px;
//   }
  
//   .vsecom_customScroll::-webkit-scrollbar-thumb {
//     background: #888; 
//     border-radius: 40px;
//   }