.old{
    background-color: rgb(255, 72, 72);
    color: black;
    margin: 5px;
    border-radius: 5px;
    padding-left: 5px;
}
.new{
    background-color: rgb(110, 255, 110);
    color: black;
    margin: 5px;
    border-radius: 5px;
    padding-left: 5px;
}

.subHeading{
    text-align: center;
    font-size: 18px;
}