<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="login-section">
    <div class="container-fluid">
        <header id="header">
            <div id="containerRef" class="container">
                <div class="row open_navv"
                    style="background-color : #fff !important; line-height: 3em;font-family:Montserrat;">

                    <div class="col-md-8 col-lg-5 col-sm-8 open_nav2">
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <a id="img_align" href="https://www.vsecommerce.com/" target="_blank">
                                <img class="logoImg" src="assets/img/Vsecomlogo.png" alt="VSOnlineServices logo" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
<div class="page_not_Found">
    <div class="page_not_Found_Card">
        <div class="page_not_Found_CardHead">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            <h3 class="mar0"> Page Not Found Error</h3>
        </div>
        <div class="page_not_Found_Cardbody">
            <img class="page_Not_Found_Img" src="assets/images/page_not_found.png" alt="VSOnlineServices logo" />
        </div>
        <div class="page_not_Found_CardFooter">
            <h3 class="verifiction_faild belowText">The Requested URL was not Found, Please Go to our <a
                    [routerLink]="['/login']">Home Page*</a></h3>
            <button [routerLink]="['/login']" class="page_not_found_btn">OK</button>
        </div>
    </div>
</div>
<div id="footerLogin">
    <div class="vsFooterTextColor">
        <a href="mailto:support@vsonlineservices.com" class="vsFooterTextColor">
            support@vsonlineservices.com
        </a>
        <div class="footerRight">
            <span><a class="vsFooterTextColor" href="https://www.vsecommerce.com/terms.html" target="_blank">Terms
                    of
                    Service</a>&nbsp;&nbsp;
                <a class="vsFooterTextColor" href="https://www.vsecommerce.com/privacypolicy.html" target="_blank">
                    Privacy Policy </a></span>
        </div>
    </div>
    <div class="vsFooterTextColor">
        <a href="tel:+917305991401" class="vsFooterTextColor">
            +917305991401
        </a>
        <div class="footerRight">
            Copyrights &copy; All Rights Reserved - VS Online Services Private Limited
        </div>
    </div>
</div>