<div class="dialogDiv">
    <i class="material-icons cancelIcon" mat-dialog-close>close</i>
<h3 class="headerHeading">Change Password</h3>
<hr class="headerLine">
<div>
    <mat-dialog-content>
        <form [formGroup]="changePassword">
            <mat-form-field class="mainContent fullWidth" appearance="outline">
                <mat-label>Current Password</mat-label>
                <div class="storeVsecommerceSpan">
                    <input matInput  type="password" id="newPassword"   formControlName="CurrentPassword"> 
                    <span class="input-group-addon1 cursor_p custom-pr-10" style="padding-left: 0px;" (click)="visible()">
                        <img *ngIf="showVisibleIcon" src="assets/images/register/eye-icon-hide.png">
                        <img *ngIf="!showVisibleIcon" src="assets/images/register/eye-icon-show.png">
                      </span>
                </div>
                <mat-error>
                    <span *ngIf="changePassword?.controls['CurrentPassword'].errors && changePassword?.controls['CurrentPassword'].errors['required']">New Password is required</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="mainContent fullWidth" appearance="outline">
                <mat-label>New Password</mat-label>
                <div class="storeVsecommerceSpan">
                    <input matInput  type="password" id="newPassword2"   formControlName="NewPassword"> 
                    <span class="input-group-addon1 cursor_p custom-pr-10" style="padding-left: 0px;" (click)="visible2()">
                        <img *ngIf="showVisibleIcon1" src="assets/images/register/eye-icon-hide.png">
                        <img *ngIf="!showVisibleIcon1" src="assets/images/register/eye-icon-show.png">
                      </span>
                </div>
                <mat-error>
                    <span *ngIf="changePassword.controls['NewPassword'].errors && changePassword.controls['NewPassword'].errors['required']">New Password is required</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="mainContent fullWidth" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <div class="storeVsecommerceSpan">
                    <input matInput  type="password" id="newPassword3"   formControlName="ConfirmPassword"> 
                    <span class="input-group-addon1 cursor_p custom-pr-10" style="padding-left: 0px;" (click)="visible3()">
                        <img *ngIf="showVisibleIcon2" src="assets/images/register/eye-icon-hide.png">
                        <img *ngIf="!showVisibleIcon2" src="assets/images/register/eye-icon-show.png">
                      </span>
                </div>
                <mat-error>
                    <span *ngIf="changePassword?.controls['ConfirmPassword'].errors && changePassword?.controls['ConfirmPassword'].errors['required']">Confirm Password is required</span>
                </mat-error>
            </mat-form-field>
        </form>
        <mat-dialog-actions align="end">
            <button class="mat-raised-button vsAdminCLientBtn" (click)="close()">Close</button>
            <button class="mat-raised-button vsAdminCLientBtn"  (click)="updatePassowrd()">Update</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>
</div>