<div class="alignCenter mainContent">
  <div class="titleHeadet">
    <h3 *ngIf="!showUpdate" class="vsecom_pageHeader">Add Customer</h3>
    <h3 *ngIf="showUpdate" class="vsecom_pageHeader">Update Customer</h3>
    <button>
      <i class="material-icons cursor_p" (click)="goback()">arrow_back</i>
    </button>
  </div>
  <div class="marginBottom40">
    <mat-card>
      <form [formGroup]="customerForm">
        <div fxLayout="row wrap" fxLayoutAlign="space-between ">
          <div fxFlex="49">
            <mat-form-field class="inputContent" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="FirstName">
              <mat-error>
                <span
                  *ngIf="customerForm?.controls['FirstName'].errors && customerForm?.controls['FirstName'].errors['required']">First
                  Name is required</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="49">
            <mat-form-field class="inputContent" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="LastName">
              <mat-error>
                <span
                  *ngIf="customerForm?.controls['LastName'].errors && customerForm?.controls['LastName'].errors['required']">Last
                  Name is required</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between ">
          <div fxFlex="49">
            <mat-form-field class="inputContent" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="Email">
              <mat-error>
                <span
                  *ngIf="customerForm?.controls['Email'].errors && customerForm?.controls['Email'].errors['required']">Email
                  is required</span>
              </mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="49">
            <mat-form-field class="inputContent" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="PhoneNumber1">
              <mat-error>
                <span
                  *ngIf="customerForm?.controls['PhoneNumber1'].errors && customerForm?.controls['PhoneNumber1'].errors['required']">Phone
                  Number is required</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="!showUpdate" fxLayout="row wrap" fxLayoutAlign="space-between">
          <div fxFlex="49">
            <mat-form-field class="inputContent" appearance="outline">
              <mat-label>Password</mat-label>
              <div class="storeVsecommerceSpan">
                <input type="password" id="newPassword" matInput formControlName="Password">
                <span class="input-group-addon1 cursor_p custom-pr-10" style="padding-left: 0px;" (click)="visible()">
                  <img *ngIf="showVisibleIcon" src="assets/images/register/eye-icon-hide.png">
                  <img *ngIf="!showVisibleIcon" src="assets/images/register/eye-icon-show.png">
                </span>
              </div>
              <mat-error>
                <span
                  *ngIf="customerForm?.controls['Password'].errors && customerForm?.controls['Password'].errors['required']">Password
                  is required</span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="btncls btnalign">
          <button *ngIf="!showUpdate" mat-raised-button class="vsAdminCLientButn" (click)="addcustomer()">Save</button>
          <div *ngIf="showUpdate" class="inputContent" appearance="outline">
            <div class="changePasswordBtn">
              <button *ngIf="showUpdate" mat-raised-button class="vsAdminCLientButn floatbtn"
                (click)="UpdateCustomerById()">Update</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>