<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="login-section">


  <header id="header">
    <div id="containerRef" class="vsLogo">
        <a id="img_align" href="https://www.vsecommerce.com/" target="_blank">
          <div class="vsecom_logoDiv">
            <img src="assets/img/Vsecomlogo.png" alt="VSOnlineServices logo" />
          </div>
        </a>
    </div>

  </header>
  <section id="home" class="main style1 dark" fxLayout="row warp" fxLayoutAlign="center">

    <div class="homeBannerHeading" fxFlex="30" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="100" fxFlex.xs="90">
      <h1 class="fontFMonst">vsEcommerce</h1>
    </div>
    <div class="vsecommercehomebanner" fxFlex="40" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="70" fxFlex.xs="95">
      <div class="">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Reset your password</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="Continue()">
                <div>
                  <h5 class="registeredAddress">Enter your registered email address or mobile number to set new password
                  </h5>
                </div>
                <div class="input-group input-active">
                  <span class="input-group-addon">
                    <!-- <mat-icon class="material-icons">
                      mail_outline</mat-icon> -->
                    <img class="vsecom_img_icon" src="/assets/images/emailPhone.png" alt="icon">
                  </span>
                  <mat-form-field class="matForm">
                    <mat-label>Email or Mobile Number</mat-label>
                    <input type='email' matInput (focus)="focusIn($event)" (focusout)="focusOut()"
                      formControlName="userEmail" autocomplete="off">
                  </mat-form-field>
                </div>

                <div *ngIf="submitted && forgotPasswordForm.controls['userEmail'].errors" class="invalid-message">
                  <div class="error" *ngIf="forgotPasswordForm.controls['userEmail'].errors['required']">
                    Email is required
                  </div>
                  <div class="error" *ngIf="forgotPasswordForm.controls['userEmail'].errors['email']">Invalid Email</div>
                </div>
                <div class="linkButtonAlign">
                  <div class="col-sm-6 col-xs-12 troubleSigning">
                    <span class="agreeText">Remember password? <a class="logIntxt" [routerLink]="['/login']"
                        href="#">Login</a></span>
                  </div>
                  <div class="col-sm-6 col-xs-12 login">
                    <button type="submit" class="btn btn-primary" [disabled]="submitted">CONTINUE</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="appstoreIconsdivMobile">
        <h5 class="downloadText">Download vsEcom Mobile App!</h5>
        <div fxLayout="row" fxLayoutAlign="center">
          <!-- <button mat-raised-button class="downloadBtn"><b>Get App for Free</b></button> -->
          <a href="https://play.google.com/store/apps/details?id=com.vsonlineservices.vsecommerce" target="_blank">
            <img class="storeIcons img-responsive"
              src="https://static.wixstatic.com/media/56b215_e2d14d0e68a8412ba41ba71812d3b109~mv2.png/v1/crop/x_53,y_14,w_652,h_269/fill/w_153,h_50,al_c,q_85,usm_0.66_1.00_0.01/Android_BUTTON.webp"></a>
          <a href="https://apps.apple.com/app/id1608689547" target="_blank">
            <img class="storeIcons img-responsive"
              src="https://static.wixstatic.com/media/56b215_163583472ce5439aa32919ca9df3e21e~mv2.png/v1/crop/x_53,y_14,w_666,h_269/fill/w_160,h_50,al_c,q_85,usm_0.66_1.00_0.01/Apple_BUTTON.webp"></a>
        </div>
      </div>
    </div>
    <div class="spaceDiv" fxFlex="30" fxFlex.lg="" fxFlex.md="20" fxFlex.sm="100" fxFlex.xs="90"></div>
  </section>
  <footer id="footerForgotPassword">
    <div class="vsFooterTextColor vsecom_dFlex vsecom_justify_between">
      <a href="mailto:support@vsonlineservices.com" class="vsFooterTextColor">
        support@vsonlineservices.com
      </a>
      <div class="">
        <span><a class="vsFooterTextColor" href="https://www.vsecommerce.com/about.html" target="_blank">
            About Us</a>&nbsp;&nbsp;
          <a class="vsFooterTextColor" href="https://www.vsecommerce.com/terms.html" target="_blank">Terms of
            Service</a>&nbsp;&nbsp;
          <a class="vsFooterTextColor" href="https://www.vsecommerce.com/privacypolicy.html" target="_blank"> Privacy
            Policy </a></span>
      </div>
    </div>
    <!-- <br> -->
    <div class="vsFooterTextColor vsecom_dFlex vsecom_footerBottom vsecom_justify_between">
      <a href="tel:+917305991401" class="vsFooterTextColor">
        +917305991401
      </a>
      <div class="footerLeft">
        Copyrights &copy; All Rights Reserved - VS Online Services pvt ltd
      </div>
    </div>
  </footer>
</div>