<div class="dialogDiv">
    <i class="material-icons cancelIcon" mat-dialog-close>close</i>
    <h3 class="headerHeading">Bulk Upload</h3>
    <hr class="headerLine">
    <div>
        <mat-dialog-content>
            <div cdkFocusInitial class="instructionContent">
                <h4>Instruction</h4>
                <ul>
                    <li>
                        <span class="dwldExcel">
                            Download the sample excel sheet.
                            <a href='/assets/sampleTemplate/SampleBulkUploadProducts.xls' download>
                                <mat-icon class='material-icons-outlined cursor_p listIcon' title="Download the sample excel sheet">file_download</mat-icon>
                            </a>
                        </span>  
                        
                    </li>
                    <li>Add your category, product, product description, price in the excel.</li>
                    <li>Upload the excel after adding your products.</li>
                    
                </ul>
            </div>
            <div class="importFile">
                <span class="p10">Import File</span> 
                <input type="file" accept=".xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="onFileSelect($event)" />
            </div>

            <mat-dialog-actions align="end">
                <button class="mat-raised-button vsAdminCLientBtn" (click)="uploadBulkProducts()">Upload</button>
            </mat-dialog-actions>
        </mat-dialog-content>
    </div>
</div>
