::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    font-weight: 400;
}

.text_left {
    text-align: left;
}

.pl25 {
    padding-left: 25px
}

h4 {
    font-weight: 700;
    font-size: 15px;
}

.btncls {
    text-align: right;
}